/*
  Arquivo de estilização principal para customizações do site
*/

#background-header {
  background-image: url('../assets/paroquia_tauape.png');
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.card-image-project {
  height: 50%;
  object-fit: cover;
}
